<a href="https://colab.research.google.com/github/zeynepozisil/Rule-Based-Classification/blob/main/Rule_Based_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [126]:
import pandas as pd
pd.set_option("display.max_rows", None)

In [127]:
df = pd.read_csv('persona.csv')
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [128]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [129]:
df.pivot_table(values="PRICE",
               index="COUNTRY",
               aggfunc="count")

         PRICE
COUNTRY
bra       1496
can        230
deu        455
fra        303
tur        451
usa       2065

In [130]:
df.groupby("COUNTRY")["PRICE"].sum()
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [131]:
df.groupby(by=["COUNTRY", 'SOURCE']).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [132]:
agg_df = df.groupby(by=["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [133]:
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [134]:
bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]
MyLabels = ['0_18', '19_23', '24_30', '31_40', '41_' + str(agg_df["AGE"].max())]
agg_df["age_cat"] = pd.cut(agg_df["AGE"], bins, labels=mylabels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [135]:
agg_df.columns

Index(['COUNTRY', 'SOURCE', 'SEX', 'AGE', 'PRICE', 'age_cat'], dtype='object')

In [136]:
[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

['BRA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_IOS_MALE_19_23',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_IOS_MALE_19_23',
 'USA_IOS_MALE_41_66',
 'DEU_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_41_66',
 'TUR_IOS_MALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'USA_IOS_MALE_24_30',
 'BRA_IOS_MALE_41_66',
 'DEU_ANDROID_MALE_19_23',
 'USA_IOS_MALE_24_30',
 'TUR_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_24_30',
 'USA_IOS_FEMALE_41_66',
 'FRA_ANDROID_MALE_19_23',
 'USA_IOS_MALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_MALE_24_30',
 'FRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_19_23',
 'TUR_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_41_66',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_IOS_MALE_0_18',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_41_66',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_41_66',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'USA_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'CAN_IOS_MALE_0_18',
 'CAN_ANDROID_MALE_41_66',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_FEMALE_24_30',
 'CAN_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_0_18',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_41_66',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_24_30',
 'CAN_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_41_66',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'FRA_IOS_MALE_19_23',
 'FRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_41_66',
 'TUR_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_IOS_FEMALE_0_18',
 'USA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_41_66',
 'BRA_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_19_23',
 'USA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'FRA_IOS_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'CAN_IOS_MALE_0_18',
 'DEU_IOS_MALE_0_18',
 'USA_IOS_FEMALE_41_66',
 'DEU_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'BRA_IOS_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'USA_ANDROID_MALE_0_18',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_FEMALE_41_66',
 'DEU_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'FRA_IOS_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_41_66',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_24_30',
 'TUR_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_41_66',
 'DEU_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'BRA_IOS_MALE_24_30',
 'USA_IOS_FEMALE_0_18',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_0_18',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_0_18',
 'CAN_IOS_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_41_66',
 'USA_ANDROID_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_24_30',
 'DEU_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'FRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'FRA_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_41_66',
 'FRA_ANDROID_MALE_31_40',
 'DEU_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_IOS_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'CAN_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'CAN_IOS_MALE_24_30',
 'TUR_IOS_MALE_41_66',
 'CAN_IOS_MALE_41_66',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_24_30',
 'USA_IOS_FEMALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_41_66',
 'FRA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_41_66',
 'FRA_ANDROID_MALE_0_18',
 'TUR_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_41_66',
 'FRA_IOS_MALE_31_40',
 'CAN_IOS_MALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'CAN_IOS_FEMALE_0_18',
 'DEU_IOS_MALE_19_23',
 'DEU_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_41_66',
 'TUR_ANDROID_FEMALE_41_66',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'FRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'TUR_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_IOS_MALE_19_23',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_MALE_31_40',
 'BRA_ANDROID_MALE_19_23',
 'TUR_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_41_66',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_MALE_41_66',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_24_30']

In [137]:
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE age_cat     customers_level_based
0     bra  android    male   46   59.0   41_66    BRA_ANDROID_MALE_41_66
1     usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2     fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3     usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4     deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40

In [138]:
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.head()

      customers_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [139]:
for i in agg_df["customers_level_based"].values:
    print(i.split("_"))

['BRA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['TUR', 'IOS', 'MALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'IOS', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'IOS', 'MALE', '0', '18']
['CAN', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['CAN', 'IOS', 'MALE', '0', '18']
['DEU', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '24', '30']
['TUR', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '0', '18']
['CAN', 'IOS', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['FRA', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['CAN', 'IOS', 'MALE', '24', '30']
['TUR', 'IOS', 'MALE', '41', '66']
['CAN', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '0', '18']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['CAN', 'IOS', 'FEMALE', '0', '18']
['DEU', 'IOS', 'MALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '24', '30']

In [140]:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
BRA_IOS_MALE_31_40          6
USA_ANDROID_FEMALE_24_30    6
USA_IOS_MALE_24_30          6
BRA_IOS_FEMALE_24_30        6
USA_ANDROID_MALE_31_40      6
BRA_ANDROID_FEMALE_31_40    6
USA_IOS_FEMALE_41_66        5
BRA_ANDROID_FEMALE_19_23    5
USA_ANDROID_FEMALE_31_40    5
TUR_IOS_FEMALE_19_23        5
BRA_IOS_MALE_41_66          5
BRA_ANDROID_MALE_19_23      5
USA_ANDROID_MALE_19_23      5
USA_ANDROID_FEMALE_19_23    5
DEU_ANDROID_MALE_31_40      5
BRA_IOS_FEMALE_31_40        5
USA_IOS_MALE_41_66          5
USA_ANDROID_FEMALE_41_66    5
USA_IOS_MALE_31_40          5
USA_IOS_FEMALE_19_23        5
DEU_IOS_FEMALE_0_18         4
USA_IOS_FEMALE_0_18         4
TUR_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_41_66      4
BRA_IOS_MALE_0_18           4
BRA_IOS_MALE_19_23          4
BRA_IOS_FEMALE_0_18         4
DEU_ANDROID_FEMALE_24_30    4
USA_ANDROID_MALE_0_18       4
USA_ANDROID_FEMALE_0_18     4
USA_IOS_MALE_0_18           4
USA_IOS_FEMALE_31_40        4
BRA_IOS_FEMALE_41_66        4
BRA_ANDROID_FEMALE_0_18     4
BRA_IOS_FEMALE_19_23        4
BRA_ANDROID_FEMALE_41_66    4
BRA_ANDROID_MALE_0_18       4
DEU_ANDROID_FEMALE_31_40    4
DEU_ANDROID_MALE_19_23      4
TUR_ANDROID_FEMALE_0_18     4
TUR_ANDROID_MALE_24_30      4
FRA_ANDROID_FEMALE_0_18     3
DEU_ANDROID_MALE_0_18       3
FRA_IOS_MALE_19_23          3
DEU_ANDROID_FEMALE_19_23    3
FRA_ANDROID_FEMALE_19_23    3
DEU_ANDROID_FEMALE_41_66    3
TUR_ANDROID_FEMALE_19_23    3
TUR_ANDROID_MALE_0_18       3
CAN_ANDROID_FEMALE_0_18     3
FRA_ANDROID_MALE_19_23      3
TUR_IOS_FEMALE_0_18         3
DEU_ANDROID_FEMALE_0_18     3
FRA_IOS_MALE_0_18           3
CAN_IOS_MALE_0_18           3
FRA_IOS_FEMALE_0_18         3
BRA_ANDROID_MALE_31_40      3
USA_IOS_MALE_19_23          3
TUR_IOS_MALE_0_18           3
FRA_IOS_FEMALE_31_40        2
CAN_IOS_FEMALE_0_18         2
DEU_IOS_MALE_24_30          2
TUR_IOS_MALE_19_23          2
DEU_IOS_MALE_19_23          2
FRA_ANDROID_FEMALE_24_30    2
TUR_IOS_FEMALE_24_30        2
TUR_IOS_MALE_41_66          2
FRA_IOS_MALE_24_30          2
DEU_IOS_FEMALE_19_23        2
DEU_IOS_MALE_0_18           2
TUR_ANDROID_MALE_19_23      2
CAN_ANDROID_MALE_24_30      2
FRA_ANDROID_MALE_31_40      2
TUR_IOS_FEMALE_31_40        2
FRA_ANDROID_MALE_0_18       2
FRA_ANDROID_MALE_41_66      2
DEU_ANDROID_MALE_24_30      2
FRA_IOS_MALE_31_40          2
TUR_ANDROID_FEMALE_24_30    2
FRA_IOS_FEMALE_24_30        2
TUR_ANDROID_FEMALE_31_40    2
DEU_IOS_FEMALE_24_30        2
CAN_ANDROID_FEMALE_19_23    2
TUR_ANDROID_MALE_31_40      1
DEU_IOS_FEMALE_31_40        1
CAN_IOS_MALE_24_30          1
DEU_IOS_MALE_31_40          1
CAN_IOS_FEMALE_24_30        1
CAN_IOS_MALE_31_40          1
CAN_IOS_MALE_41_66          1
CAN_ANDROID_MALE_41_66      1
FRA_ANDROID_MALE_24_30      1
BRA_IOS_MALE_24_30          1
FRA_ANDROID_FEMALE_31_40    1
TUR_IOS_FEMALE_41_66        1
CAN_ANDROID_FEMALE_41_66    1
CAN_ANDROID_MALE_0_18       1
DEU_IOS_MALE_41_66          1
FRA_IOS_MALE_41_66          1
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
CAN_ANDROID_FEMALE_24_30    1
Name: customers_level_based, dtype: int64

In [141]:
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})

In [142]:
agg_df = agg_df.reset_index()
agg_df.head()

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [143]:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_FEMALE_0_18     1
TUR_ANDROID_FEMALE_0_18     1
TUR_IOS_FEMALE_19_23        1
TUR_IOS_FEMALE_0_18         1
TUR_ANDROID_MALE_41_66      1
TUR_ANDROID_MALE_31_40      1
TUR_ANDROID_MALE_24_30      1
TUR_ANDROID_MALE_19_23      1
TUR_ANDROID_MALE_0_18       1
TUR_ANDROID_FEMALE_41_66    1
TUR_ANDROID_FEMALE_31_40    1
TUR_ANDROID_FEMALE_24_30    1
TUR_ANDROID_FEMALE_19_23    1
FRA_IOS_MALE_41_66          1
FRA_ANDROID_FEMALE_31_40    1
FRA_IOS_MALE_31_40          1
FRA_IOS_MALE_24_30          1
FRA_IOS_MALE_19_23          1
FRA_IOS_MALE_0_18           1
FRA_IOS_FEMALE_31_40        1
FRA_IOS_FEMALE_24_30        1
FRA_IOS_FEMALE_0_18         1
FRA_ANDROID_MALE_41_66      1
FRA_ANDROID_MALE_31_40      1
FRA_ANDROID_MALE_24_30      1
FRA_ANDROID_MALE_19_23      1
TUR_IOS_FEMALE_24_30        1
TUR_IOS_FEMALE_31_40        1
TUR_IOS_FEMALE_41_66        1
TUR_IOS_MALE_0_18           1
USA_IOS_MALE_31_40          1
USA_IOS_MALE_24_30          1
USA_IOS_MALE_19_23          1
USA_IOS_MALE_0_18           1
USA_IOS_FEMALE_41_66        1
USA_IOS_FEMALE_31_40        1
USA_IOS_FEMALE_24_30        1
USA_IOS_FEMALE_19_23        1
USA_IOS_FEMALE_0_18         1
USA_ANDROID_MALE_41_66      1
USA_ANDROID_MALE_31_40      1
USA_ANDROID_MALE_24_30      1
USA_ANDROID_MALE_19_23      1
USA_ANDROID_MALE_0_18       1
USA_ANDROID_FEMALE_41_66    1
USA_ANDROID_FEMALE_31_40    1
USA_ANDROID_FEMALE_24_30    1
USA_ANDROID_FEMALE_19_23    1
USA_ANDROID_FEMALE_0_18     1
TUR_IOS_MALE_41_66          1
TUR_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
TUR_IOS_MALE_19_23          1
FRA_ANDROID_MALE_0_18       1
FRA_ANDROID_FEMALE_24_30    1
BRA_ANDROID_FEMALE_19_23    1
BRA_IOS_FEMALE_41_66        1
CAN_ANDROID_MALE_19_23      1
CAN_ANDROID_MALE_0_18       1
CAN_ANDROID_FEMALE_41_66    1
CAN_ANDROID_FEMALE_24_30    1
CAN_ANDROID_FEMALE_19_23    1
CAN_ANDROID_FEMALE_0_18     1
BRA_IOS_MALE_41_66          1
BRA_IOS_MALE_31_40          1
BRA_IOS_MALE_24_30          1
BRA_IOS_MALE_19_23          1
BRA_IOS_MALE_0_18           1
BRA_IOS_FEMALE_31_40        1
FRA_ANDROID_FEMALE_19_23    1
BRA_IOS_FEMALE_24_30        1
BRA_IOS_FEMALE_19_23        1
BRA_IOS_FEMALE_0_18         1
BRA_ANDROID_MALE_41_66      1
BRA_ANDROID_MALE_31_40      1
BRA_ANDROID_MALE_24_30      1
BRA_ANDROID_MALE_19_23      1
BRA_ANDROID_MALE_0_18       1
BRA_ANDROID_FEMALE_41_66    1
BRA_ANDROID_FEMALE_31_40    1
BRA_ANDROID_FEMALE_24_30    1
CAN_ANDROID_MALE_24_30      1
CAN_ANDROID_MALE_41_66      1
CAN_IOS_FEMALE_0_18         1
CAN_IOS_FEMALE_24_30        1
FRA_ANDROID_FEMALE_0_18     1
DEU_IOS_MALE_41_66          1
DEU_IOS_MALE_31_40          1
DEU_IOS_MALE_24_30          1
DEU_IOS_MALE_19_23          1
DEU_IOS_MALE_0_18           1
DEU_IOS_FEMALE_31_40        1
DEU_IOS_FEMALE_24_30        1
DEU_IOS_FEMALE_19_23        1
DEU_IOS_FEMALE_0_18         1
DEU_ANDROID_MALE_31_40      1
DEU_ANDROID_MALE_24_30      1
DEU_ANDROID_MALE_19_23      1
DEU_ANDROID_MALE_0_18       1
DEU_ANDROID_FEMALE_41_66    1
DEU_ANDROID_FEMALE_31_40    1
DEU_ANDROID_FEMALE_24_30    1
DEU_ANDROID_FEMALE_19_23    1
DEU_ANDROID_FEMALE_0_18     1
CAN_IOS_MALE_41_66          1
CAN_IOS_MALE_31_40          1
CAN_IOS_MALE_24_30          1
CAN_IOS_MALE_0_18           1
USA_IOS_MALE_41_66          1
Name: customers_level_based, dtype: int64

In [144]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df.head(30)
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [145]:
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

       customers_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A